@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* import main styles.css */
@import url('styles.css');

body {
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.speech_info {
    padding-top: 10px;
    padding-bottom: 10px;
}