@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* import main styles.css */
@import url('styles.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

.title {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.result {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.result_title:link {
    color: var(--link-color)
  }

.result_title:visited {
    color: var(--visited-link-color);
}

.link {
    color: var(--link-color);
}

.details {
    color: var(--details-color);
}

.score {
    color: var(--score-color);
}