@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* import main styles.css */
@import url('styles.css');

body {
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.speech_info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cluster {
    cursor: pointer;
    transition: text-decoration 0.3s ease;
}

.cluster:hover {
    text-decoration: underline;
}

.cluster__pair {
    margin-bottom: 20px;
}

.cluster__score {
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.cluster__score.show {
    max-height: 300px; /* Adjust the maximum height to show before scrolling */
}

.cluster__speech {
    margin-bottom: 10px;
}