@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #EEEEEE;
    --secondary-color: #ffffff;
    --primary-font-color: #222831;
    --secondary-font-color: #393E46;
    --primary-button-color: #d4d4d4;
    --primary-slider-color: #1e1e1e;
    --link-color: #327bf1;
    --visited-link-color: #aa66e6;
    --details-color: #47921b;
    --score-color: #555555;
}

.dark-mode {
    --primary-color: #121212;
    --secondary-color: #1e1e1e;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #B0B0B0;
    --primary-button-color: #292929;
    --primary-slider-color: #EEEEEE;
    --link-color: #8AB4F8;
    --visited-link-color: #C58AF9;
    --details-color: #47921b; 
    --score-color: #555555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    background: var(--primary-color);
    color: var(--primary-font-color);
}

.search__box {
    width: 70%;
    background: var(--secondary-color);
    margin: 200px auto 0;
    border-radius: 5px;
}

.search__row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 35px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: var(--primary-font-color);
}

.theme__button {
    background: transparent;
    padding: 20px;
    margin-right: 20px;
    border: 0;
    outline: 0;
    width: 20px;
    color: var(--secondary-font-color);
    font-size: 22px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}

.return__button {
    background: transparent;
    padding: 20px;
    margin-right: 20px;
    border: 0;
    outline: 0;
    width: 20px;
    color: var(--secondary-font-color);
    font-size: 28px;
    cursor: pointer;
    position: fixed;
}

.search__button {
    background: transparent;
    border: 0;
    outline: 0;
    width: 20px;
    color: var(--secondary-font-color);
    font-size: 22px;
    cursor: pointer;
}

.option__button {
    background: transparent;
    border: 2px solid var(--primary-button-color);
    border-radius: 5px;
    outline: 0;
    width: 300px;
    color: var(--secondary-font-color);
    font-size: 22px;
    cursor: pointer;
    font-size: medium;
    margin-bottom: 5px;
}

.option__button:hover {
    background-color: var(--primary-button-color);
    color: #ffffff;
}

.options__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
}

#input_box::placeholder {
    color: var(--primary-font-color);
}

.results__box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.results__box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.results__box ul li:hover {
    background: var(--primary-color);
}

.results__box {
    max-height: 300px;
    overflow-y: scroll;
}

.k__container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    outline: 0;
    border: 2px solid var(--primary-button-color);
    border-radius: 5px;
    width: 300px;
}

.k__input, .k__slider, .k__label {
    color: var(--secondary-font-color);
    font-size: 18px;
    margin: 0 5px;
}

.k__input {
    width: 80px;
    text-align: center;
    padding: 5px;
}

.k__label {
    margin-right: 5px;
}

.k__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: var(--primary-button-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.k__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-slider-color);
    cursor: pointer;
}

.k__slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
