@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* Light Theme */
    --primary-color: #EEEEEE;
    --secondary-color: #ffffff;
    --primary-font-color: #222831;
    --secondary-font-color: #393E46;
    --primary-button-color: #2663cd;
}

.dark-mode {
    --primary-color: #121212;
    --secondary-color: #1e1e1e;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    background: var(--primary-color);
    color: var(--primary-font-color);
}

.search__box {
    width: 70%;
    background: var(--secondary-color);
    margin: 200px auto 0;
    border-radius: 5px;
}

.search__row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 35px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: var(--primary-font-color);
}

.theme__button {
    background: transparent;
    padding: 20px;
    border: 0;
    outline: 0;
    width: 20px;
    color: var(--secondary-font-color);
    font-size: 22px;
    cursor: pointer;
}

.search__button {
    background: transparent;
    border: 0;
    outline: 0;
    width: 20px;
    color: var(--secondary-font-color);
    font-size: 22px;
    cursor: pointer;
}

#input_box::placeholder {
    color: var(--primary-font-color);
}

.results__box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.results__box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.results__box ul li:hover {
    background: var(--primary-color);
}

.results__box {
    max-height: 300px;
    overflow-y: scroll;
}