<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>IR | Home</title>
</head>
<body>
    <button class="theme__button" onclick="toggleTheme()"><i class="uil uil-moon"></i></button>
    <form method="GET">
        <div class="search__box">
            <div class="search__row">
                <input type="text" name="search-input" id="input-box" placeholder="Type..." autocomplete="off">
                <button type="submit" class="search__button"><i class="uil uil-search search__icon"></i></button>
            </div>

            <div class="results__box">
            </div>
        </div>
    </form>

    <div class="options__box">
        <div class="k__container">
            <label class="k__label" for="textInputK">K:</label>
            <input class="k__input" type="text" id="textInputK" value="1" onchange="updateSliderFromTextInput(this.value)">
            <input class="k__slider" type="range" id="sliderK" min="1" max="1000" value="1" oninput="updateSliderFromTextInput(this.value)">
        </div>
        
        <button class="option__button" onclick="redirectToTopKeywordsSpeechPlot()">Top Keywords Per Speech</button>
        <button class="option__button" onclick="redirectToTopKeywordsMemberPlot()">Top Keywords Per Member</button>
        <button class="option__button" onclick="redirectToTopKeywordsPartyPlot()">Top Keywords Per Political Party</button>

        <button class="option__button" onclick="redirectToTopKeywordsPartyPlot()">Pairwise Similarities</button>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>