<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>IR | Home</title>
</head>
<body>
    <button class="theme__button" onclick="toggleTheme()"><i class="uil uil-moon"></i></button>
    <form method="GET">
        <div class="search__box">
            <div class="search__row">
                <input type="text" name="search-input" id="input-box" placeholder="Type..." autocomplete="off">
                <button type="submit" class="search__button"><i class="uil uil-search search__icon"></i></button>
            </div>

            <div class="results__box">
            </div>
        </div>
    </form>

    <div class="keywords_options__box">
        <button class="keyword__button" onclick="redirectToTopKeywordsMemberPlot()">Top Keywords Per Member</button>
        <button class="keyword__button" onclick="redirectToTopKeywordsPartyPlot()">Top Keywords Per Political Party</button>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>